<!-- About Section -->
<section id="author">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">About Leigh, the author</h2>
              <h3 class="section-subheading text-muted"></h3>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <p style="max-width: 450px; margin: auto;">
                  I was born in and never really left Toronto. I grew up in the '90s watching an uncanny amount of television and movies. I now have a partner of more than a decade and two young children. I went to school for film studies after high school, but decided to become a software developer when I realized I could not feed my children camera parts.
              </p>
          </div>
      </div>
  </div>
</section>