<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row container">
                <div class="col-xs-12">
                    <div id="introMD" style="max-width: 600px; margin: auto;">

                    </div>
                    <script>
                        document.getElementById('introMD').innerHTML =
                          marked.parse(
`OUCH! Marcus "accident-prone" Gorileeus was about to relearn the definition of pain. His bedroom had been given to the mysterious Dogneetus. His father was kicking him out of the family. And his new classmate Crocodus was succeeding wonderfully at being the most annoying crocodile the world had ever known.

Strange how these three things, coupled with the great powers of Stoicism, would forever change the world.

How you ask?

1. Marcus Gorileeus was born and lived almost 2000 years ago in Rome.
2. Rome was the most powerful civilization in the world.
3. Marcus would grow up to be the emperor and ruler of Rome.`);
                    </script>
                </div>
            </div>
        </div>
    </section>