<!-- Clients Aside -->
    
    <aside id="docs" class="clients" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Other Documents</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <a href="https://gorileeus.github.io/synopsis.pdf" class="portfolio-link">
                        <img src="../css/2016_style/img/synopsis.png" class="img-responsive img-centered" alt="">
                        <p class="text-center">Synopsis</p>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6">
                    <a href="https://gorileeus.github.io/screenplay.pdf" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2016_style/img/screenplay.png" class="img-responsive img-centered" alt="">
                        <p class="text-center">Chapter 1 Script</p>
                    </a>
                </div>
            </div>
        </div>
    </aside>